/* index.css */

body {
  font-family: Arial, sans-serif;
}
  
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1.2em;
}
  
.message.success {
  color: green;
  background-color: #e5ffe5;
  border: 1px solid green;
}
  
.message.fail {
  color: red;
  background-color: #ffe5e5;
  border: 1px solid red;
}

.blog {
  border: 1px solid black;
}
  